version: "3.9"

services:
  app:
    build: .
    container_name: backend-app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - PORT=3000
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=backend_db
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: backend-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
